.chart {
  padding: 18px;
  flex:5;
  
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
  1px 11px 9px 10px rgba(0, 0, 0, 0);
box-shadow: 0px 10px 13px -7px #000000, 1px 11px 9px 10px rgba(0, 0, 0, 0);
border-radius: 10px;
.title{
  font-size:20px;
  font-weight:600;
  color:grey;
  text-align:center;
}

}
